.gold-star{
  color: gold
}
.thumbnail{
  text-decoration: none !important;
}
.thumb-fav{
  width: 90px;
}
.playlist{
  height: 1200px;
  overflow: overlay;
  overflow-x: hidden;
}
.logo-brand{
  width: 100%;
  max-width: 160px;
}
.left-padding{
  padding-left: 15px;
}
.gray{
  color: #BBB;
}
