<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      </button>
      {{#link-to 'index' class='navbar-brand'}}
        <img class="logo-brand" src="http://2myyi21mszez474t4ur4n573.wpengine.netdna-cdn.com/wp-content/themes/totango/assets/img/global/totango_logo.png">
      {{/link-to}}
    </div>


  </div>
</nav>
